@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    overflow-x: hidden;
    min-width: 1320px;

}

/* 헤더 */
header {
    width: 100%;


    position: fixed;
    z-index: 5;
}

.header {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0;
    /* border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 50px;
}

.header>a>img {
    width: 45px;
    box-sizing: border-box;
    margin-left: 5px;
    display: block;
}

.header>ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

header a {
    font-size: 15px;
    font-weight: 700;
    display: block;
    padding: 8px 15px;
    color: #213c83;
}

.white {
    /* background-color:#fff; */
    border-radius: 50px;
}

.white:hover {
    background-color: #fa791d;
}

.white:hover a {
    color: #fff;
}


/* 햄버거 버튼  스타일*/
.menu-trigger {
    margin: 10px 25px 10px 0;
}

.menu-trigger:hover span:nth-of-type(1) {
    background-color: #fa791d;
}

.menu-trigger:hover span:nth-of-type(2) {
    background-color: #fa791d;
}

.menu-trigger:hover span:nth-of-type(3) {
    background-color: #fa791d;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 30px;
    height: 25px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #213c83;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 11px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

/* 햄버거 버튼 이벤트 */
.menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
}

/* 햄버거 메뉴 디자인 */
.ham-con {
    width: 20%;
    height: auto;
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 100px;
    right: -100%;
    opacity: 0;
    z-index: 99;
    margin-right: 5%;
    padding: 70px 50px;
    border-radius: 30px;
    box-shadow: 3px 7px 15px 8px rgba(77, 74, 74, 0.2);
    backdrop-filter: blur(20px);
    background-blend-mode: overlay;
}

.ham-con ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.ham-con >.ham-sub-menu>li> a {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    z-index: 99;
    color: #2e52ad;
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 30px;
    padding-left: 30px;
}
.ham-con >.ham-sub-menu>.star:hover a{
    background: url(../images/icon/star.png) no-repeat 0 50% ;
    background-size: 20px;

    color: #fa791d;
}


/* 검색창 */
form {
    margin: 30px auto 60px;

}

.search-box {
    height: 15px;
    width: 90%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    
    background-blend-mode: overlay;

}

.search-txt {
    text-align: center;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 5px 0px;
    color: #213c83;
    font-size: 15px;
    line-height: 20px;
    width: 85%;
    font-weight: 500;

}

.search-btn img {
    display: block;
    cursor: pointer;
    width: 20px;
    margin-left: 40px;
}

.search-btn {
    float: right;
    height: 100%;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;


}



/* 로그인창 */

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/login/background.png) no-repeat 50% 0 ;
    
}
.wrap::before {
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}
.wrap>img{
    position: absolute;
}
.login {
    width: 30%;
    height: 600px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.1);
    
    backdrop-filter: brightness(1.1) blur(20px);

    position: relative;
}
.wrap>img{
    position: absolute;
    z-index: 10;
    top: 120px;
}

h2 {
    color:  #fa791d;
    font-size: 2em;
}

.login_sns {
    padding: 20px;
    display: flex;
}

.login_sns li {
    padding: 0px 15px;
}

.login_sns a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.1);
}
.login_sns img{
    display: block;
}
.login_sns li:hover a{
box-shadow: none;
border: 0.5px solid #cfcfcf;
}
.login_id {
    margin-top: 20px;
    width: 70%;
    margin-right: 20px;
}

.login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_pw {
    margin-top: 20px;
    width: 70%;
    margin-right: 20px;
}

.login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_etc {
    padding: 10px;
    width:75%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 500;
    color: #333;
}

.submit {
    margin-top: 50px;
    width: 80%;
    display: flex;
}
.submit input:nth-child(1) {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background:  #cfcfcf;
    color: #333;
    font-weight: 700;
    font-size: 16px;
  
    cursor: pointer;
}
.submit input:nth-child(1):hover{
background-color:#333 ;
color: #fff;
font-weight: 600;
}
.submit input:nth-child(2) {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background:  #fa791d;
    color: white;
    font-size: 16px;
   
    cursor: pointer;
}
.submit input:nth-child(2):hover{
background-color:#333 ;
color: #fff;
}
.forgot_pw a{
    color: #213c83;
}